<div class="text-center green-font">
  <%= form_for @user, url: user_path, method: method do |f| %>
    <h4><%= f.label :username %></h4>
    <h4><%= f.text_field :username, value: @user.username %></h4>
    <h4><%= f.label :password %></h4>
    <h4><%= f.password_field :password %></h4>
    <h4><%= f.label :first_name %></h4>
    <h4><%= f.text_field :first_name, value: @user.first_name %></h4>
    <h4><%= f.label :last_name %></h4>
    <h4><%= f.text_field :last_name, value: @user.last_name %></h4>
    <h4><%= f.label :address %></h4>
    <h4><%= f.text_field :address, value: @user.address %></h4>
    <h4><%= f.label :email %></h4>
    <h4><%= f.text_field :email, value: @user.email %></h4>
    <%= f.submit button_text, class: "btn btn-success btn-font-size" %>
  <% end %>
</div>
