
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#user_info" aria-controls="user_info" role="tab" data-toggle="tab">User Information</a></li>
    <% if current_user.store_admin? %><li role="presentation"><a href="#store_info" aria-controls="store_info" role="tab" data-toggle="tab">Store Admin Information</a></li> <% end %>
    <% if current_user.platform_admin? %><li role="presentation"><a href="#platform_info" aria-controls="platform_info" role="tab" data-toggle="tab">Platform Admin Information</a></li><% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="user_info">
      <h1>Profile information</h1>
      <div>
        <div class="text-center row">
          <div class="padded-bottom">
            <h1 class="green-font" >Account Information</h1>
            <%= render partial: "shared/user_info", locals: {user: current_user} %>
          </div>
        </div>
        <div class="text-center row">
          <!-- This is where user info and orders goes -->

        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="store_info">
      <h1>Store information</h1>
      <%= "Status: #{current_user.stores.first.status}" if current_user.stores.first %>
      <%= link_to "Create item", new_store_item_path(current_user.stores.first.slug) if current_user.stores.first %>
      <%= render partial: "shared/item_table", locals: {items: current_user.stores.first.items} if current_user.stores.first %>
        <div class="text-center row">
          <div class="padded-top padded-bottom">
            <h2 class="green-font">All Orders</h1>
          </div>
        </div>
        <div class="orders row">
          <table class="table table-condensed table-hover orders-table">
            <%= render partial: "admin/orders/status_counts" %>
            <%= render partial: "admin/orders/table_headers" %>
            <%= render partial: "admin/orders/order", collection: @orders %>
          </table>
        </div>
      </div>

    <div role="tabpanel" class="tab-pane" id="platform_info">
      <h1>Platform information</h1>
        <%= render partial: "shared/store_table", locals: {stores: @stores} %>
    </div>
  </div>

</div>
