<table class="table">
  <tr>
    <th>Name</th>
    <th>Status</th>
  </tr>
  <% stores.each do |store| %>
    <tr>
      <td><%= link_to store.name, store_root_path(store.slug) %></td>
      <td><%= store.status.capitalize%></td>
      <td>
        <%= form_for(store, method: :patch) do |f| %>
          <input type="hidden" name="status" value="2">
          <%= f.submit "Approve" %>
        <% end %>
      </td>
      <td>  
        <%= form_for(store, method: :patch) do |f| %>
          <input type="hidden" name="status" value="1">
          <%= f.submit "Suspend" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
