<!--  this is saved filler from stores/items/index.html.erb -->

<div class="text-center row">
  <div class="padded-bottom">
    <h1 class="green-font" >Root Brothers</h1>
    <h4 class="green-font" >Pick out your favorite produce. It's all grown locally.</h4>
    <img src="http://www.18sandpiper.com/wp-content/uploads/2013/05/Farmer-Joe.jpg" alt="Farmers Market" style="width:250px;height:250px;">
  </div>
  <div class="items">
    <!-- <%= render partial: "items/item", collection: @category.non_retired_items %> -->
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
            <%= link_to "Add to cart", "#", class: "green-font" %>
          </div>
    </div>


  </div>
</div>
