<div class="text-center row">
  <div class="padded-top">
    <h1>Welcome to <%= current_store.name %>!</h1>
    <h4><%= current_store.description %></h4>
    <%= image_tag current_store.image_url, alt: current_store.name %>

    <%= render partial: "shared/user_applicant" if current_user && !current_user.store %>

  </div>
  <div class="text-center row">
    <div class="items">
      <%= render partial: "shared/item", collection: @items %>
    </div>
  </div>
</div>
