<div class="container">
  <div class="text-center row">
    <h1>Presented by <%= current_store.name %></h1>
    <h1 class="green-font" ><%= @item.title %></h1>
    <h4 class="green-font" ><%= image_tag @item.image %></h4>
    <h4 class="green-font" ><%= @item.description %></h4>
    <h4><%= format_price(@item.price) %></h4>
    <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn btn-success btn-font-size" %>
  </div>
</div>
