<h4 class="text-center green-font" >Browse these categories to find your favorite produce.</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
    <div class="col-sm-3">
        <img src="http://www.horseandbuggyproduce.com/wp-content/uploads/2010/12/carrots.jpg" alt="Carrots" style="width:100px;height:100px;">
          <div class="btn-font-size green-font">
            <%= link_to "Carrots", "#", class: "green-font" %>
          </div>
    </div>
  </div>
</div>
